.swipeButtons {
  position: fixed;
  bottom: 5vh;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.swipeButtons .MuiIconButton-root{
  background-color: white;
  box-shadow: 0 10px 53px 0px rgba(0, 0, 0, 0.3) !important;
}
.swipeButtons__repeat {
  padding: 3vw !important;
  color: #ffd801 !important;
}
.swipeButtons__close{
  padding: 3vw !important;
  color: #90caf9 !important;
}
.swipeButtons__fav{
  padding: 3vw !important;
  color: #F15E77 !important;
}
.swipeButtons__star{
  padding: 3vw !important;
  color: #52ADB8 !important;
}
.swipeButtons__fire{
  padding: 3vw !important;
  color: #fe9a2e !important;
}